# Analyse des données

In [2]:
import pandas as pd

In [3]:
f_novembre = pd.read_csv("pointage_novembre.csv", sep=",")
f_octobre = pd.read_csv("pointage_octobre.csv", sep=",")

In [4]:
print(f_novembre)

         ID        Date  Pointage Dépointage     POINTEUSE
0         1  08/11/2019  07:24:00        NaN  REPUBLIQUE-1
1         1  28/11/2019  07:13:00   17:22:00  REPUBLIQUE-1
2         1  18/11/2019  07:18:00   17:12:00  REPUBLIQUE-1
3         1  26/11/2019  07:12:00   17:26:00  REPUBLIQUE-1
4         1  22/11/2019  07:16:00   13:29:00  REPUBLIQUE-1
...     ...         ...       ...        ...           ...
22816  1426  13/11/2019  07:16:00   16:18:00   SIEGE SBS-1
22817  1426  07/11/2019  10:36:00   17:46:00   SIEGE SBS-1
22818  1426  12/11/2019  10:32:00   16:45:00   SIEGE SBS-1
22819  1426  18/11/2019  08:40:00   18:21:00   SIEGE SBS-1
22820  1426  08/11/2019  07:58:00   13:35:00   SIEGE SBS-1

[22821 rows x 5 columns]

In [5]:
print(f_octobre)

         ID        Date  Pointage Dépointage     POINTEUSE
0         1  01/10/2019  07:13:00        NaN  REPUBLIQUE-1
1         1  02/10/2019  07:12:00   17:24:00  REPUBLIQUE-1
2         1  03/10/2019  07:21:00   17:06:00  REPUBLIQUE-1
3         1  04/10/2019  07:20:00   13:34:00  REPUBLIQUE-1
4         1  07/10/2019  07:29:00   16:47:00  REPUBLIQUE-1
...     ...         ...       ...        ...           ...
24566  1426  21/10/2019  10:04:00   17:16:00   SIEGE SBS-1
24567  1426  22/10/2019  13:03:00        NaN   SIEGE SBS-1
24568  1426  28/10/2019  08:33:00   16:46:00   SIEGE SBS-1
24569  1426  29/10/2019  09:57:00   16:56:00   SIEGE SBS-1
24570  1426  31/10/2019  07:10:00   17:23:00   SIEGE SBS-1

[24571 rows x 5 columns]

In [8]:
# Vérification de l'existence de colonnes vide
liste_colonnes = f_octobre.columns
liste_colonnes

Index(['ID', 'Date', 'Pointage', 'Dépointage', 'POINTEUSE'], dtype='object')

In [10]:
f_octobre.isnull().sum()

ID               0
Date             0
Pointage         0
Dépointage    9237
POINTEUSE        0
dtype: int64

In [11]:
f_novembre.isnull().sum()

ID               0
Date             0
Pointage         0
Dépointage    8580
POINTEUSE        0
dtype: int64

In [16]:
# Calcul du pourcentage de données manquantes pour le mois d'Octobre
pourcentageO = f_octobre.shape[0] / f_octobre.isnull().sum()[3]
pourcentageO

2.6600627909494423

In [17]:
# Calcul du pourcentage de données manquantes pour le mois de Novembre
pourcentageN = f_novembre.shape[0] / f_novembre.isnull().sum()[3]
pourcentageN

2.6597902097902097

In [22]:
# Suppression des lignes contenant NaN
f_octobre = f_octobre.dropna()
f_novembre = f_novembre.dropna()

In [23]:
print(f_novembre.isnull().sum())

ID            0
Date          0
Pointage      0
Dépointage    0
POINTEUSE     0
dtype: int64

In [24]:
print(f_octobre.isnull().sum())

ID            0
Date          0
Pointage      0
Dépointage    0
POINTEUSE     0
dtype: int64

In [25]:
# Enregistrement des fichiers nettoyés
f_octobre.to_csv("pointageOctobre_nettoye.csv", sep=",")
f_novembre.to_csv("pointageNovembre_nettoye.csv", sep=",")

In [26]:
# Fusionnage des 2 fichiers Octobre et Novembre
f1 = pd.read_csv("pointageOctobre_nettoye.csv", sep=",")
f2 = pd.read_csv("pointageNovembre_nettoye.csv", sep=",")
fichierFinal = pd.concat([f1, f2])

In [28]:
f1

         ID        Date  Pointage Dépointage     POINTEUSE
0         1  02/10/2019  07:12:00   17:24:00  REPUBLIQUE-1
1         1  03/10/2019  07:21:00   17:06:00  REPUBLIQUE-1
2         1  04/10/2019  07:20:00   13:34:00  REPUBLIQUE-1
3         1  07/10/2019  07:29:00   16:47:00  REPUBLIQUE-1
4         1  09/10/2019  07:22:00   16:42:00  REPUBLIQUE-1
...     ...         ...       ...        ...           ...
15329  1426  16/10/2019  08:55:00   16:39:00   SIEGE SBS-1
15330  1426  21/10/2019  10:04:00   17:16:00   SIEGE SBS-1
15331  1426  28/10/2019  08:33:00   16:46:00   SIEGE SBS-1
15332  1426  29/10/2019  09:57:00   16:56:00   SIEGE SBS-1
15333  1426  31/10/2019  07:10:00   17:23:00   SIEGE SBS-1

[15334 rows x 5 columns]

In [29]:
f2

         ID        Date  Pointage Dépointage     POINTEUSE
0         1  28/11/2019  07:13:00   17:22:00  REPUBLIQUE-1
1         1  18/11/2019  07:18:00   17:12:00  REPUBLIQUE-1
2         1  26/11/2019  07:12:00   17:26:00  REPUBLIQUE-1
3         1  22/11/2019  07:16:00   13:29:00  REPUBLIQUE-1
4         1  27/11/2019  07:25:00   17:19:00  REPUBLIQUE-1
...     ...         ...       ...        ...           ...
14236  1426  13/11/2019  07:16:00   16:18:00   SIEGE SBS-1
14237  1426  07/11/2019  10:36:00   17:46:00   SIEGE SBS-1
14238  1426  12/11/2019  10:32:00   16:45:00   SIEGE SBS-1
14239  1426  18/11/2019  08:40:00   18:21:00   SIEGE SBS-1
14240  1426  08/11/2019  07:58:00   13:35:00   SIEGE SBS-1

[14241 rows x 5 columns]

In [27]:
fichierFinal

         ID        Date  Pointage Dépointage     POINTEUSE
0         1  02/10/2019  07:12:00   17:24:00  REPUBLIQUE-1
1         1  03/10/2019  07:21:00   17:06:00  REPUBLIQUE-1
2         1  04/10/2019  07:20:00   13:34:00  REPUBLIQUE-1
3         1  07/10/2019  07:29:00   16:47:00  REPUBLIQUE-1
4         1  09/10/2019  07:22:00   16:42:00  REPUBLIQUE-1
...     ...         ...       ...        ...           ...
14236  1426  13/11/2019  07:16:00   16:18:00   SIEGE SBS-1
14237  1426  07/11/2019  10:36:00   17:46:00   SIEGE SBS-1
14238  1426  12/11/2019  10:32:00   16:45:00   SIEGE SBS-1
14239  1426  18/11/2019  08:40:00   18:21:00   SIEGE SBS-1
14240  1426  08/11/2019  07:58:00   13:35:00   SIEGE SBS-1

[29575 rows x 5 columns]

In [30]:
# Liste des pointeuses existantes
pointeuses = set(fichierFinal["POINTEUSE"])
pointeuses

{'ALMADIES-1',
 'ARCADES-1',
 'CHEIKH ANTA DIOP-1',
 'GUEDIAWAYE-1',
 'JET DEAU-1',
 'KAOLACK AC-1',
 'MBOUR-1',
 'MEDINA - 1-1',
 'NSIA 2eme ETAGE-1',
 'PARCELLES ASSAINIES-1',
 'PATTE DOIE-1',
 'POTOU-1',
 'POTOU-IPM-1',
 'Poste de Garde-1',
 'REPUBLIQUE-1',
 'RUFISQUE AC-1',
 'SABLUX RDC-1',
 'SACRE COEUR LIB 5-1',
 'SAINT LOUIS AC-1',
 'SALLE SPORT-1',
 'SIEGE 2E B-1',
 'SIEGE 3E B-1',
 'SIEGE 4E B-1',
 'SIEGE 5E B-1',
 'SIEGE 7E B-1',
 'SIEGE OFMS-1',
 'SIEGE RDC A-1',
 'SIEGE RDC B-1',
 'SIEGE RDC INFIRMERIE-1',
 'SIEGE SBS-1',
 'SIEGE SS1 A-1',
 'SIEGE SS1 B-1',
 'SIEGE SS2 A-1',
 'SIEGE SS2 B-1',
 'TECHNOPOLE - RGT-1',
 'THIAROYE-1',
 'THIES AC-1',
 'TOUBA MBACKE-1',
 'WEST-TELECOM-1',
 'ZIGUINCHOR TECH-1',
 'Ziguinchor Commercial-1'}

In [31]:
len(pointeuses)

41

In [32]:
# Nombre d'individus
individus = set(fichierFinal["ID"])
individus

{1,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 328,
 329,
 330,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 452,
 453,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 701,
 702,
 703,
 705,
 706,
 707,
 708,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 853,
 854,
 855,
 856,
 857,
 858,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 ...}

In [33]:
len(individus)

1404

In [34]:
fichierFinal.to_csv("fichierFinal.csv", sep=",")