In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("pointage_octobre.csv")
data

         ID        Date  Pointage Dépointage     POINTEUSE
0         1  01/10/2019  07:13:00        NaN  REPUBLIQUE-1
1         1  02/10/2019  07:12:00   17:24:00  REPUBLIQUE-1
2         1  03/10/2019  07:21:00   17:06:00  REPUBLIQUE-1
3         1  04/10/2019  07:20:00   13:34:00  REPUBLIQUE-1
4         1  07/10/2019  07:29:00   16:47:00  REPUBLIQUE-1
...     ...         ...       ...        ...           ...
24566  1426  21/10/2019  10:04:00   17:16:00   SIEGE SBS-1
24567  1426  22/10/2019  13:03:00        NaN   SIEGE SBS-1
24568  1426  28/10/2019  08:33:00   16:46:00   SIEGE SBS-1
24569  1426  29/10/2019  09:57:00   16:56:00   SIEGE SBS-1
24570  1426  31/10/2019  07:10:00   17:23:00   SIEGE SBS-1

[24571 rows x 5 columns]

In [3]:
# Visualisation des colonnes qui ont des valeurs nulles
data.isnull().sum()

ID               0
Date             0
Pointage         0
Dépointage    9237
POINTEUSE        0
dtype: int64

In [4]:
# Remplaçons les valeurs nulles par l'heure 16:45:00
data["Dépointage"].fillna("16:45:00", inplace=True)
data

         ID        Date  Pointage Dépointage     POINTEUSE
0         1  01/10/2019  07:13:00   16:45:00  REPUBLIQUE-1
1         1  02/10/2019  07:12:00   17:24:00  REPUBLIQUE-1
2         1  03/10/2019  07:21:00   17:06:00  REPUBLIQUE-1
3         1  04/10/2019  07:20:00   13:34:00  REPUBLIQUE-1
4         1  07/10/2019  07:29:00   16:47:00  REPUBLIQUE-1
...     ...         ...       ...        ...           ...
24566  1426  21/10/2019  10:04:00   17:16:00   SIEGE SBS-1
24567  1426  22/10/2019  13:03:00   16:45:00   SIEGE SBS-1
24568  1426  28/10/2019  08:33:00   16:46:00   SIEGE SBS-1
24569  1426  29/10/2019  09:57:00   16:56:00   SIEGE SBS-1
24570  1426  31/10/2019  07:10:00   17:23:00   SIEGE SBS-1

[24571 rows x 5 columns]

In [5]:
data.isnull().sum()

ID            0
Date          0
Pointage      0
Dépointage    0
POINTEUSE     0
dtype: int64

In [6]:
from datetime import datetime
# Fonction permettant de convertir les heures en secondes
def convertionSecondes(data):
    pointage = data["Pointage"]
    depointage = data["Dépointage"]
    
    for i in range(0, len(pointage)):
        heurePointage = pointage[i]
        heureDepointage = depointage[i]
        try:
            #Pointage
            secondesPointage = datetime.strptime(heurePointage, "%H:%M:%S").time()
            secondesPointage = secondesPointage.hour * 3600 + secondesPointage.minute * 60 + secondesPointage.second
            secondesDepointage = datetime.strptime(heureDepointage, "%H:%M:%S").time()
            secondesDepointage = secondesDepointage.hour * 3600 + secondesDepointage.minute * 60 + secondesDepointage.second
            if(secondesDepointage < secondesPointage):
                p1 = pointage[i]
                p2 = depointage[i]
                pointage[i] = p2
                depointage[i] = p1
                print(i)
        except Exception as e:
            print("Erreur de formatage au niveau de la position {}".format(i))
            break
convertionSecondes(data)

/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

81
104
108
110
120
132
196
263
335
371
385
416
418
566
603
644
677
785
798
828
1009
1014
1035
1051
1117
1253
1254
1257
1267
1334
1341
1377
1383
1418
1422
1423
1428
1432
1493
1498
1501
1512
1514
1532
1730
1733
1751
1782
1789
1797
1798
1799
1801
1803
1805
1877
1888
1895
1909
1926
2015
2022
2026
2032
2041
2135
2142
2185
2210
2211
2213
2215
2216
2218
2219
2220
2223
2227
2296
2301
2311
2312
2315
2320
2330
2347
2348
2353
2357
2372
2377
2382
2387
2390
2405
2489
2532
2539
2542
2543
2550
2552
2569
2588
2599
2605
2630
2631
2647
2669
2676
2681
2717
2844
2849
2914
2934
2958
2960
2964
2966
2970
2974
3038
3064
3112
3115
3227
3247
3251
3279
3281
3286
3337
3340
3346
3420
3423
3426
3434
3448
3517
3521
3530
3561
3562
3703
3722
3735
3768
3773
3820
3827
3831
3834
3860
3882
3893
3922
3936
4154
4156
4159
4161
4163
4166
4168
4171
4191
4217
4258
4333
4377
4398
4411
4421
4521
4708
4832
4859
4945
4953
4972
4973
4977
5010
5015
5084
5091
5273
5276
5278
5280
5281
5291
5303
5355
5380
5430
5450
5479
5484
5485
5486
5488
5489
5490
5491
5494
5495
5497
5498
5499
5500
5502
5503
5505
5513
5523
5525
5575
5579
5611
5631
5669
5778
5813
5826
5858
5887
5895
5901
5915
5917
5956
5967
6004
6008
6032
6047
6161
6163
6166
6176
6184
6185
6207
6215
6228
6295
6297
6298
6301
6310
6311
6313
6315
6317
6402
6478
6518
6540
6549
6608
6625
6627
6674
6693
6715
6764
6768
6813
6816
6824
6858
6945
6968
6980
6987
6993
7005
7021
7029
7036
7051
7066
7080
7084
7118
7143
7144
7201
7210
7213
7215
7217
7231
7237
7276
7310
7331
7364
7367
7372
7376
7378
7383
7389
7396
7414
7458
7461
7463
7510
7516
7526
7527
7542
7564
7580
7589
7591
7626
7662
7670
7673
7678
7882
7942
7986
7987
8021
8022
8088
8100
8102
8104
8105
8131
8135
8145
8175
8197
8241
8287
8300
8307
8353
8366
8414
8424
8433
8436
8437
8438
8445
8447
8451
8477
8500
8532
8568
8582
8583
8603
8623
8647
8683
8685
8698
8852
8864
8866
8926
8930
8935
8965
9105
9181
9196
9200
9225
9258
9266
9359
9364
9369
9388
9391
9393
9395
9410
9446
9447
9448
9453
9500
9505
9536
9575
9612
9646
9657
9680
9745
9747
9759
9764
9767
9809
9815
9818
9819
9828
9833
9878
9881
9962
9963
10034
10056
10058
10060
10066
10083
10095
10113
10114
10116
10118
10122
10123
10124
10125
10127
10143
10201
10210
10238
10241
10244
10257
10258
10259
10260
10263
10323
10324
10328
10335
10350
10404
10407
10417
10422
10438
10445
10478
10557
10620
10696
10704
10707
10708
10709
10717
10720
10729
10738
10751
10752
10753
10757
10759
10761
10762
10860
10888
10889
10896
10898
10902
10916
10938
10955
10965
11027
11075
11088
11097
11117
11129
11169
11173
11178
11219
11225
11288
11303
11346
11349
11352
11395
11435
11498
11500
11513
11531
11596
11642
11655
11663
11678
11681
11690
11716
11789
11825
11838
11867
11900
11905
11912
11924
11927
11933
11948
11961
11968
11976
11978
11981
12051
12052
12073
12108
12120
12162
12217
12245
12252
12253
12267
12272
12384
12385
12386
12387
12388
12389
12390
12391
12393
12394
12396
12397
12398
12551
12560
12562
12671
12674
12752
12753
12754
12755
12760
12874
12896
12913
12919
12986
13009
13058
13080
13083
13084
13085
13087
13093
13094
13157
13164
13177
13193
13199
13272
13290
13311
13333
13378
13389
13391
13406
13414
13422
13477
13479
13483
13487
13512
13520
13532
13539
13542
13543
13547
13626
13689
13693
13697
13705
13721
13723
13739
13753
13790
13798
13799
13819
13843
13857
13906
13915
13958
13959
13965
13993
13998
14096
14111
14135
14147
14215
14246
14251
14259
14263
14307
14379
14453
14524
14525
14552
14555
14603
14607
14610
14615
14670
14753
14772
14877
14891
14920
14928
14932
14938
14941
14942
14977
14996
15004
15005
15041
15047
15066
15142
15149
15157
15167
15180
15197
15307
15312
15390
15398
15403
15408
15410
15412
15414
15479
15481
15484
15527
15532
15536
15587
15647
15663
15665
15668
15669
15672
15673
15676
15686
15784
15810
15848
15849
15856
15922
16023
16088
16144
16163
16164
16165
16167
16168
16169
16170
16173
16178
16205
16208
16211
16291
16324
16451
16469
16470
16520
16530
16617
16645
16664
16668
16669
16670
16673
16678
16679
16687
16690
16745
16751
16759
16764
16776
16778
16781
16783
16794
16830
16839
16845
16877
16891
16913
16964
17025
17026
17029
17050
17070
17093
17139
17140
17147
17151
17152
17155
17157
17159
17162
17197
17272
17320
17353
17369
17379
17380
17383
17384
17412
17420
17421
17504
17512
17548
17597
17639
17691
17775
17788
17809
17846
17866
17898
17965
17968
17992
17995
18008
18034
18039
18045
18059
18061
18099
18122
18140
18143
18145
18160
18169
18250
18254
18259
18288
18311
18319
18321
18323
18467
18533
18558
18582
18583
18601
18622
18643
18722
18789
18795
18796
18802
18805
18829
18839
18851
18852
18867
18870
18877
18899
18968
18969
18972
18973
18977
18978
19064
19084
19128
19144
19162
19182
19245
19254
19255
19258
19291
19310
19315
19319
19321
19322
19328
19331
19334
19335
19341
19344
19407
19426
19429
19441
19463
19531
19574
19578
19588
19591
19682
19687
19689
19725
19760
19761
19766
19767
19768
19770
19776
19777
19802
19806
19809
19815
19833
19837
19841
19853
19874
19880
19886
19986
20003
20012
20065
20112
20114
20117
20119
20124
20144
20208
20222
20240
20248
20266
20276
20277
20317
20357
20371
20372
20373
20375
20378
20379
20384
20476
20666
20708
20712
20713
20721
20723
20748
20783
20790
20797
20802
20814
20889
20895
20899
20909
20914
20924
20944
20949
20966
20996
21017
21021
21022
21254
21259
21312
21327
21481
21567
21570
21572
21583
21614
21615
21618
21619
21620
21624
21627
21629
21658
21674
21721
21748
21750
21779
21826
21834
21838
21841
21843
21854
21858
21861
21866
21870
21872
21876
21879
21881
21882
21885
21889
21893
21896
21899
21903
21906
21909
21912
21915
21918
21921
21924
21927
21930
21935
21983
22034
22060
22079
22085
22173
22211
22213
22215
22217
22219
22221
22223
22228
22230
22232
22234
22236
22237
22239
22241
22243
22245
22247
22249
22251
22256
22258
22260
22262
22291
22329
22364
22409
22506
22521
22525
22528
22532
22535
22539
22567
22642
22668
22670
22711
22754
22817
22950
22956
23014
23069
23104
23116
23118
23122
23198
23254
23256
23273
23274
23278
23341
23376
23383
23393
23502
23545
23658
23686
23687
23688
23689
23690
23693
23694
23695
23696
23697
23698
23700
23707
23711
23713
23715
23815
23843
23848
23852
23967
23984
24036
24046
24073
24080
24090
24151
24174
24175
24176
24177
24178
24179
24180
24181
24182
24183
24191
24216
24232
24238
24318
24326
24332
24334
24335
24336
24337
24338
24339
24345
24353
24372
24373
24485
24492
24496
24551

In [7]:
data

         ID        Date  Pointage Dépointage     POINTEUSE
0         1  01/10/2019  07:13:00   16:45:00  REPUBLIQUE-1
1         1  02/10/2019  07:12:00   17:24:00  REPUBLIQUE-1
2         1  03/10/2019  07:21:00   17:06:00  REPUBLIQUE-1
3         1  04/10/2019  07:20:00   13:34:00  REPUBLIQUE-1
4         1  07/10/2019  07:29:00   16:47:00  REPUBLIQUE-1
...     ...         ...       ...        ...           ...
24566  1426  21/10/2019  10:04:00   17:16:00   SIEGE SBS-1
24567  1426  22/10/2019  13:03:00   16:45:00   SIEGE SBS-1
24568  1426  28/10/2019  08:33:00   16:46:00   SIEGE SBS-1
24569  1426  29/10/2019  09:57:00   16:56:00   SIEGE SBS-1
24570  1426  31/10/2019  07:10:00   17:23:00   SIEGE SBS-1

[24571 rows x 5 columns]

In [8]:
# Liste des pointeuses
pointeuses = set(data["POINTEUSE"])
pointeuses

{'ALMADIES-1',
 'ARCADES-1',
 'CHEIKH ANTA DIOP-1',
 'GUEDIAWAYE-1',
 'JET DEAU-1',
 'KAOLACK AC-1',
 'MBOUR-1',
 'MEDINA - 1-1',
 'NSIA 2eme ETAGE-1',
 'PARCELLES ASSAINIES-1',
 'PATTE DOIE-1',
 'POTOU-1',
 'POTOU-IPM-1',
 'Poste de Garde-1',
 'REPUBLIQUE-1',
 'RUFISQUE AC-1',
 'SABLUX RDC-1',
 'SACRE COEUR LIB 5-1',
 'SAINT LOUIS AC-1',
 'SALLE SPORT-1',
 'SIEGE 2E B-1',
 'SIEGE 3E B-1',
 'SIEGE 4E B-1',
 'SIEGE 5E B-1',
 'SIEGE 7E B-1',
 'SIEGE OFMS-1',
 'SIEGE RDC A-1',
 'SIEGE RDC B-1',
 'SIEGE RDC INFIRMERIE-1',
 'SIEGE SBS-1',
 'SIEGE SS1 A-1',
 'SIEGE SS1 B-1',
 'SIEGE SS2 A-1',
 'SIEGE SS2 B-1',
 'TECHNOPOLE - RGT-1',
 'THIAROYE-1',
 'THIES AC-1',
 'TOUBA MBACKE-1',
 'WEST-TELECOM-1',
 'ZIGUINCHOR TECH-1',
 'Ziguinchor Commercial-1'}

In [9]:
deletePointeuses = ["KAOLACK AC-1", "MBOUR-1", "SAINT LOUIS AC-1", "THIES AC-1", 
                    "TOUBA MBACKE-1", "ZIGUINCHOR TECH-1", "Ziguinchor Commercial-1"]
indiceLigne = []
for i in range(0, len(data)):
    if data["POINTEUSE"][i] in deletePointeuses:
        indiceLigne.append(i)
data.drop(indiceLigne, inplace=True)
print(len(indiceLigne))

620

In [10]:
data

         ID        Date  Pointage Dépointage     POINTEUSE
0         1  01/10/2019  07:13:00   16:45:00  REPUBLIQUE-1
1         1  02/10/2019  07:12:00   17:24:00  REPUBLIQUE-1
2         1  03/10/2019  07:21:00   17:06:00  REPUBLIQUE-1
3         1  04/10/2019  07:20:00   13:34:00  REPUBLIQUE-1
4         1  07/10/2019  07:29:00   16:47:00  REPUBLIQUE-1
...     ...         ...       ...        ...           ...
24566  1426  21/10/2019  10:04:00   17:16:00   SIEGE SBS-1
24567  1426  22/10/2019  13:03:00   16:45:00   SIEGE SBS-1
24568  1426  28/10/2019  08:33:00   16:46:00   SIEGE SBS-1
24569  1426  29/10/2019  09:57:00   16:56:00   SIEGE SBS-1
24570  1426  31/10/2019  07:10:00   17:23:00   SIEGE SBS-1

[23951 rows x 5 columns]

In [11]:
# Changement des déplaçements
import random
listePointeuses = list(set(data["POINTEUSE"]))
print("Nombre de pointeuses: " + str(len(listePointeuses)))
nbUsers = list(set(data["ID"]))

for i in nbUsers:
    dataUSer = data[data["ID"] == i]
    pointeusesUser = list(set(dataUSer["POINTEUSE"]))
#     newPointeuses = listePointeuses
#     for p in pointeusesUser:
#         try:
#             newPointeuses.remove(p)
#         except Exception:
#             continue
    listIndex = dataUSer.index
    nbr = int(len(dataUSer) / 2)
    for i in range(0, nbr + 1):
        nbrAleatoire = random.randrange(0, len(dataUSer))
#         print(newPointeuses)
        randomPointeuses = random.randrange(0, len(pointeusesUser))
        dataUSer["POINTEUSE"][listIndex[nbrAleatoire]] = listePointeuses[randomPointeuses]
#     print(dataUSer)

Nombre de pointeuses: 34

/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3319: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
data[data["ID"] == 1]

    ID        Date  Pointage Dépointage     POINTEUSE
0    1  01/10/2019  07:13:00   16:45:00  REPUBLIQUE-1
1    1  02/10/2019  07:12:00   17:24:00  REPUBLIQUE-1
2    1  03/10/2019  07:21:00   17:06:00  REPUBLIQUE-1
3    1  04/10/2019  07:20:00   13:34:00  REPUBLIQUE-1
4    1  07/10/2019  07:29:00   16:47:00  REPUBLIQUE-1
5    1  08/10/2019  07:21:00   16:45:00  REPUBLIQUE-1
6    1  09/10/2019  07:22:00   16:42:00  REPUBLIQUE-1
7    1  10/10/2019  07:37:00   16:46:00  REPUBLIQUE-1
8    1  11/10/2019  07:23:00   16:45:00  REPUBLIQUE-1
9    1  14/10/2019  07:27:00   16:45:00  REPUBLIQUE-1
10   1  15/10/2019  07:28:00   16:44:00  REPUBLIQUE-1
11   1  16/10/2019  07:27:00   16:42:00  REPUBLIQUE-1
12   1  18/10/2019  07:27:00   13:31:00  REPUBLIQUE-1
13   1  22/10/2019  07:26:00   16:53:00  REPUBLIQUE-1
14   1  23/10/2019  07:32:00   16:49:00  REPUBLIQUE-1
15   1  24/10/2019  07:21:00   17:14:00  REPUBLIQUE-1
16   1  25/10/2019  13:57:00   16:45:00  REPUBLIQUE-1
17   1  28/10/2019  07:24:00   17:13:00  REPUBLIQUE-1
18   1  29/10/2019  07:30:00   17:26:00  REPUBLIQUE-1
19   1  30/10/2019  07:28:00   17:05:00  REPUBLIQUE-1
20   1  31/10/2019  07:19:00   17:09:00  REPUBLIQUE-1

In [13]:
d

NameError: name 'd' is not defined