In [1]:
# Importation des packages
import pandas as pd
import numpy as np
import random, csv

In [2]:
data = pd.read_csv("OctobreFinal.csv")
del data["Date"]
del data["Pointage"] 
del data["Dépointage"]
data

         ID       POINTEUSE
0         1      ALMADIES-1
1         1    REPUBLIQUE-1
2         1    REPUBLIQUE-1
3         1           SIEGE
4         1    REPUBLIQUE-1
...     ...             ...
23946  1426           SIEGE
23947  1426           SIEGE
23948  1426       ARCADES-1
23949  1426  WEST-TELECOM-1
23950  1426           SIEGE

[23951 rows x 2 columns]

In [3]:
# Representation des sites suivant des indexes
sites = list(set(data["POINTEUSE"]))
representationSite = []
for i in range(0, len(sites)):
    representationSite.append({"index" : "{}".format(i), "short" : "{}".format(sites[i]), "desc" : "{}".format(sites[i])})
representationSite.append({"index" : "21", "short": "Other", "desc": "Other"})
print(representationSite)
# Ecriture dans un fichier
with open("sites4.txt", "w") as f:
    f.write(str(representationSite))

[{'index': '0', 'short': 'SACRE COEUR LIB 5-1', 'desc': 'SACRE COEUR LIB 5-1'}, {'index': '1', 'short': 'ARCADES-1', 'desc': 'ARCADES-1'}, {'index': '2', 'short': 'JET DEAU-1', 'desc': 'JET DEAU-1'}, {'index': '3', 'short': 'SIEGE', 'desc': 'SIEGE'}, {'index': '4', 'short': 'PARCELLES ASSAINIES-1', 'desc': 'PARCELLES ASSAINIES-1'}, {'index': '5', 'short': 'POTOU-IPM-1', 'desc': 'POTOU-IPM-1'}, {'index': '6', 'short': 'TECHNOPOLE - RGT-1', 'desc': 'TECHNOPOLE - RGT-1'}, {'index': '7', 'short': 'THIAROYE-1', 'desc': 'THIAROYE-1'}, {'index': '8', 'short': 'MEDINA - 1-1', 'desc': 'MEDINA - 1-1'}, {'index': '9', 'short': 'POTOU-1', 'desc': 'POTOU-1'}, {'index': '10', 'short': 'SABLUX RDC-1', 'desc': 'SABLUX RDC-1'}, {'index': '11', 'short': 'CHEIKH ANTA DIOP-1', 'desc': 'CHEIKH ANTA DIOP-1'}, {'index': '12', 'short': 'Poste de Garde-1', 'desc': 'Poste de Garde-1'}, {'index': '13', 'short': 'GUEDIAWAYE-1', 'desc': 'GUEDIAWAYE-1'}, {'index': '14', 'short': 'SALLE SPORT-1', 'desc': 'SALLE SPORT-1'}, {'index': '15', 'short': 'RUFISQUE AC-1', 'desc': 'RUFISQUE AC-1'}, {'index': '16', 'short': 'WEST-TELECOM-1', 'desc': 'WEST-TELECOM-1'}, {'index': '17', 'short': 'REPUBLIQUE-1', 'desc': 'REPUBLIQUE-1'}, {'index': '18', 'short': 'ALMADIES-1', 'desc': 'ALMADIES-1'}, {'index': '19', 'short': 'NSIA 2eme ETAGE-1', 'desc': 'NSIA 2eme ETAGE-1'}, {'index': '20', 'short': 'PATTE DOIE-1', 'desc': 'PATTE DOIE-1'}, {'index': '21', 'short': 'Other', 'desc': 'Other'}]

In [4]:
# Representation des sites suivant des indexes
representationSite = []
for i in range(0, len(sites)):
    representationSite.append({"index" : "{}".format(i), "short" : "{}".format(sites[i]), "desc" : "{}".format(sites[i])})
representationSite.append({"index" : "21", "short": "Other", "desc": "Other"})
for i in sites:
    for j in representationSite:
        if(i in list(j.values())):
            data["POINTEUSE"][data["POINTEUSE"] == i] = list(j.values())[0]
data

/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

         ID POINTEUSE
0         1        18
1         1        17
2         1        17
3         1         3
4         1        17
...     ...       ...
23946  1426         3
23947  1426         3
23948  1426         1
23949  1426        16
23950  1426         3

[23951 rows x 2 columns]

# Le principe consiste à calculer la différence entre deux durée avant de l'écrire au niveau du fichier TSV

In [5]:
with open('octobre4.tsv', 'wt') as out_file:
        tsv_writer = csv.writer(out_file, delimiter='\t')
        tsv_writer.writerow(['month'])
        
for j in list(set(data["ID"])):
    user = data[data["ID"] == j]
    user.index = range(0,len(user))

    timeUser = []
    # Heure d'arriver au service
    timeUser.append(random.randrange(420, 510)) #Entre 7h et 8h30
    # Les heures de déplaçement des agents une fois arrivée au service entre 9h et 16h
    for i in range(1, len(user)):
        timeUser.append(random.randrange(540, 960))
    # Heure de descente entre 16h45 et 18h
    timeUser.append(random.randrange(1005, 1080))
    # Trier le time par ordre croissant
    timeUser.sort()

    # Calcul de la différence du time
    diffTime = [timeUser[0]]
    for i in range(1, len(timeUser)):
        diffTime.append(timeUser[i] - timeUser[i-1])

    ligne = "21" # Position Other
    user["POINTEUSE"][len(user)] = 21 #Permet d'ajouter la position other en fin.
    for i in range(0, len(timeUser)):
        ligne = ligne + "," + str(diffTime[i]) + "," + str(user["POINTEUSE"][i])
    # Gérer les 24h
    ligne = ligne + ",{}".format(str(1440 - sum(diffTime)))

    with open('octobre4.tsv', 'a') as out_file:
            tsv_writer = csv.writer(out_file, delimiter='\t')
            tsv_writer.writerow([ligne])

/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/diop/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3319: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)